main {
    margin-top: 6.5rem;

    @media (max-width: 768px) {
        margin-top: 4rem;
    }
}

section {
    max-width: 1400px;
    margin: auto;

    padding-left: 1rem;
    padding-right: 1rem;

    &#section-all-products, &#section-details {
        padding-top: 4rem;
        padding-bottom: 4rem;

        @media (max-width: 768px) {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    &#section-product {
        min-height: 34.875rem;

        @media (max-width: 768px) {
            padding-top: 2rem;
            padding-bottom: 2rem;
            row-gap: 0rem;
        }
    }

    &.hero {
        padding-top: 4rem;

        @media (max-width: 768px) {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }

    @media (max-width: 768px) {
        padding: 8rem 1rem;
    }
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--black);
    text-decoration: none;
    animation: appear ease;
    animation-timeline: view();
    animation-range: entry 0%;

    &:hover {
        img {
            transform: scale(1.10);
        }

        .card-title {
            text-decoration: underline;
        }
    }
    
    .card-category {
        margin-bottom: -1rem;
        background-color: var(--primary-color);
        width: fit-content;
        padding: 0.25rem 0.75rem;
        font-size: 0.875rem;
        letter-spacing: -0.02em;
        font-weight: 600;
        color: var(--white);
        text-transform: uppercase;
        position: relative;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        &::after {
            height: 100%;
            width: 1rem;
            background: var(--white);
            content: "";
            top: 0;
            right: -1rem;
            display: block;
            position: absolute;
            border-radius: 0 8px;
        }

        &::before {
            height: 100%;
            width: 1rem;
            background: var(--primary-color);
            content: "";
            top: 0;
            right: -1rem;
            position: absolute;
            display: block;
            border-top-right-radius: 10px;
        }
    }

    .card-text-container {
        .card-title {
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            font-weight: 500;
            min-height: 3rem;
        }
    }

    .image-container {
        border: 1px solid #e3e3e3;
        border-radius: 0.5rem;
        padding: 2rem;
        border-top-left-radius: 0;
        height: 26.375rem;
        overflow: hidden;
        
        .card-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: transform 0.2s ease;
        }
    }

    hr {
        margin: 0.50rem auto;
        width: 25%;
        border-color: transparent;
    }

    .card-price-rating-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        .card-rating {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            
            .card-star-container {
                display: flex;
                gap: 0.25rem;
                color: #f2f2f2;
                
                &.star-count-1 {
                    .star {
                        &:nth-child(1) {
                            color: gold;
                        }
                    }
                }

                &.star-count-2 {
                    .star {
                        &:nth-child(1), &:nth-child(2) {
                            color: gold;
                        }
                    }
                }

                &.star-count-3 {
                    .star {
                        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                            color: gold;
                        }
                    }
                }
                
                &.star-count-4 {
                    .star {
                        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                            color: gold;
                        }
                    }
                }

                &.star-count-5 {
                    .star {
                        color: gold;
                    }
                }
            }
        }
    }
}

.product-image-container {
    height: 34.875rem;
    border: 1px solid #e3e3e3;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 2rem;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.product-info-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
    padding: 2.5rem 0;

    .top-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .product-category {
        font-weight: 600;
        letter-spacing: -0.02em;
        font-size: 0.875rem;
        color: white;
        background-color: var(--primary-color);
        padding: 0.25rem 0.5rem;
        width: fit-content;
        border-radius: 0.25rem;
        text-transform: uppercase;
    }

    .product-rating-container {
        display: flex;
        gap: 0.5rem;

        .product-star-container {
            display: flex;
            gap: 0.25rem;

            .star {
                color: #f2f2f2;
            }

            &.star-count-1 {
                .star {
                    &:nth-child(1) {
                        color: gold;
                    }
                }
            }

            &.star-count-2 {
                .star {
                    &:nth-child(1), &:nth-child(2) {
                        color: gold;
                    }
                }
            }

            &.star-count-3 {
                .star {
                    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                        color: gold;
                    }
                }
            }
            
            &.star-count-4 {
                .star {
                    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                        color: gold;
                    }
                }
            }

            &.star-count-5 {
                .star {
                    color: gold;
                }
            }
        }

        h6 {
            font-weight: 500;
        }
    }

    .product-price {
        font-size: 3rem;
    }
}

.details-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    details {
        summary {
            cursor: pointer;
            user-select: none;
            list-style: none;
            padding-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            i {
                font-weight: 700;
                font-size: 1.375rem;
                transition: transform 0.2s ease;
            }
        }

        &[open] {
            summary {
                i {
                    transform: rotate(180deg);
                }
            }
        }

        &.disabled {
            opacity: 0.25;
            pointer-events: none;
        }
    }
}

.hero-title-container {
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 3rem;

    .custom-selectbox-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        width: 11rem;
        height: 3rem;
        border-radius: 0.35rem;
        background-color: black;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 0.75rem;
        color: white;
        overflow: hidden;
        text-align: center;
        transition: height 0.35s cubic-bezier(0.445,  0.050, 0.550, 0.950);
        
        &.open {
            height: 15rem;
        }
        
        #custom-selectbox-selected, .custom-selectbox-option {
            display: flex;
            align-items: center;
            height: 3rem;
            cursor: pointer;
            justify-content: center;
            padding: 0 0.85rem;
            user-select: none;
            
            #currentSortFilter {
                margin-left: 0.5rem;
                /* margin-right: 0.45rem; */
            }
        }
        
        .custom-selectbox-option:hover {
            background: #252525;
        }
    }
}

.hero-selectbox-container {
    position: relative;
    height: 3rem;
    
    
}

#currentCategoryText {
    text-transform: capitalize;
}

.card-skeleton {
    height: 34.875rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .image-skeleton, .title-skeleton, .price-skeleton {
        background: linear-gradient(90deg, #f2f2f2 40%, #fafafa, #f2f2f2 60%) right / 300% 100%;
        animation: skeletonLoading 1.5s ease infinite;
    }

    .image-skeleton {
        border-radius: 0.5rem;
        height: 29.1875rem;
    }

    .title-skeleton {
        border-radius: 0.5rem;
        height: 3rem;
    }

    .price-skeleton {
        border-radius: 0.5rem;
        height: 1.8125rem;
    }
}

@keyframes appear {
    from {
        transform: translateY(15rem);
        opacity: 0;
    }

    to {
        transform: translateY(0rem);
        opacity: 1;
    }
}

@keyframes skeletonLoading {
    to {
        background-position-x: left;
    }
}