@import url("./variables.css");
@import url("./fonts.css");
@import url("./typography.css");
@import url("./ea-grid.css");
@import url("./buttons.css");
@import url("./layout.css");
@import url("./header.css");
@import url("./footer.css");

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: "Inter";

  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  box-sizing: border-box;
}
